In [1]:
name = 'Gopi'

In [2]:
type(name)

str

In [3]:
x = 2

In [4]:
y = 5.0
z = 2 + 1j 
z_alt = complex(2,1)

In [5]:
type(x)

int

In [6]:
type(y)

float

In [7]:
type(z)

complex

In [8]:
type(z_alt)

complex

In [9]:
1 < 2 and 2 < 4

True

In [10]:
1 < 2 < 4

True

In [11]:
x + y

7.0

In [12]:
x * y

10.0

In [13]:
x + z

(4+1j)

Strings

In [14]:
lang1 = 'Python'
lang2 = "Python"
lang3 = '''Python'''
lang4 = """Python"""

In [15]:
lang1 == lang2 == lang3 == lang4

True

In [16]:
py_version = "3.6"
lang = "Python {}".format(py_version)
lang

'Python 3.6'

In [17]:
print("Python {} {} {}".format(x,y,z))

Python 2 5.0 (2+1j)

In [19]:
print("Python {2} {1} {0}".format(x,y,z))

Python (2+1j) 5.0 2

In [20]:
type(lang)

str

In [21]:
lang[0]

'P'

In [26]:
lang.lower()

'python 3.6'

In [27]:
lang.upper()

'PYTHON 3.6'

In [28]:
lang.replace('3.6','X.Y')

'Python X.Y'

In [29]:
lang

'Python 3.6'

    Sequences : Lists and Tuples

In [30]:
my_list = ['red','green','blue']
my_tuple = ('Marco','UK',True)

In [31]:
'red' in my_list

True

In [32]:
'Gopi' in my_tuple

False

In [33]:
for item in my_list:
    print(item)

red
green
blue

In [34]:
for item in my_tuple:
    print(item)

Marco
UK
True

Mappings: Disctionaries

In [35]:
item = {
    'id': 123,
    'price':19.90,
    'description':'Book',
    'in_stock':True
}

item

{'id': 123, 'price': 19.9, 'description': 'Book', 'in_stock': True}

In [36]:
type(item)

dict

In [37]:
item['price'] # to get the current value

19.9

In [38]:
item['price'] # to update the value

19.9

In [40]:
del item['in_stock'] # to delete the item

item

{'id': 123, 'price': 19.9, 'description': 'Book'}

In [41]:
item['avaialable'] = True

item

{'id': 123, 'price': 19.9, 'description': 'Book', 'avaialable': True}

In [42]:
item['na']

KeyError: 'na'

Custom Functions

In [43]:
def add_them(a, b):
    return a + b

In [44]:
add_them(1,3)

4

# Confrol Flow

a = 10 
b = 10

if a > 0 and b > 0:
    print("Add them! {}".format(add_them(a, b)))
elif a == 0:
    print("A is zero")
else:
    print("Nothing to see")

# Exercise 
For the given list of products , priunt out the name of all the products with a price higher than 10

In [49]:
products = [
    {'name': 'orange', 'price': 20},
    {'name': 'apple' , 'price': 8},
    {'name': 'banana', 'price': 10}
]

In [52]:
for item in products:
    if (item['price'] >= 10):
        print(item['name'])

orange
banana